.ant-typography{
    color: cadetblue;
    font-size: 20px;
    font-weight: bold;
  }
  .welcome{
.ant-typography{
        color: green;
        font-size: 70px;
        font-weight: 800 ;  
    }
  }