/* body{
    background-color: rgb(48, 48, 73);
    align-items: center;
    justify-content: center;
    margin: auto;
}

.sss{
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-top: 200px;
    margin-right: 200px;
    width: 600px;
    height: 300px;
}
.sss p{
    color: brown;
    font-size: 22px;
    margin-left: 70px;
}
.s1{
    margin-top: 60px;
    margin-left: 60px;
    width: 100px;
} */